@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
:root {
  --peru: #ee4540;
  --black: #222;
  --white: #fff;
  --light-black: #666;
  --light-white: #ccc;
  --light-bg: #f5f5f5;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --border: 0.1rem solid #aaa;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;

}

/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/
.custom-navbar {
  background: linear-gradient(to right, #f7ad88, #f87197);
  z-index: 100;
}

.header .navbar a {
  font-size: 1.3rem;
  padding-left: 0.5rem;
  color: var(--light-black);
  text-transform: uppercase;
}

.header .navbar .logout {
  padding-right: 20px;
}
.header .navbar .logo span {
  font-size: 1rem;
  font-family: "Kalam", cursive;
  color: #8e3305;
  text-transform: none;
}
.header .navbar a:hover {
  color: black;
}
.header .navbar ul {
  color: rgb(98, 98, 98);
}
.box1 {
            position: relative;
            width: 100%;
            height: 55%;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
            overflow: hidden;
        }
.box1 img {
            width: 100%;
            height: 100%;
            transition: transform 0.3s ease-in-out;
        }

.box1:hover img {
            transform: scale(1.1);
        }
.card:hover{
   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
 }
/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
.footer-menu a {
    text-decoration: none;
    color: rgb(225, 222, 222);
    font-size: 1.5rem;
    margin-right: 10px;
  }
  .footer-menu a:hover {
    color: rgb(255, 6, 89);
  }
  .btn-link i:hover {
    color: rgb(255, 6, 89);
  }
  