@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
:root {
  --peru: #ee4540;
  --black: #222;
  --white: #fff;
  --light-black: #666;
  --light-white: #ccc;
  --light-bg: #f5f5f5;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --border: 0.1rem solid #aaa;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;

}

/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/
.custom-navbar {
  background: linear-gradient(to right, #f7ad88, #f87197);
  z-index: 100;
}

.header .navbar a {
  font-size: 1.3rem;
  padding-left: 0.5rem;
  color: var(--light-black);
  text-transform: uppercase;
}

.header .navbar .logout {
  padding-right: 20px;
}
.header .navbar .logo span {
  font-size: 1rem;
  font-family: "Kalam", cursive;
  color: #8e3305;
  text-transform: none;
}
.header .navbar a:hover {
  color: black;
}
.header .navbar ul {
  color: rgb(98, 98, 98);
}

/*--------------------------------------------------------------
# slide
--------------------------------------------------------------*/
@keyframes fadeIn {
  0% {
    transform: translateY(-4rem) scale(0);
    opacity: 0;
  }
}

.slider #home-slide h1 {
  font-size: 3vw;
  font-family: "Kalam", cursive;
  text-transform: uppercase;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  line-height: 1;
  padding: 2rem 0;
  animation: fadeIn 0.6s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.6s backwards;
}
.slider #home-slide p {
  font-size: 2rem;
  text-transform: capitalize;
  color: white;
  animation: fadeIn 0.6s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.4s backwards;
}
.slider #home-slide button span:hover {
  background-color: #f7ad88;
  color: white;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s ease;
}

/*--------------------------------------------------------------
# menu
--------------------------------------------------------------*/
.menu {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.menu nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu nav ul li {
  margin-right: 10px;
}

.menu nav ul li:last-child {
  margin-right: 0;
}

.menu nav ul li a:hover {
  color: rgb(204, 58, 5);
}
.menu nav ul li:hover {
  border-bottom: 3px solid rgb(255, 41, 41);
}
.menu nav ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 1.5rem;
  font-family: "Barlow Condensed", sans-serif;
}

.menu nav ul li a:hover {
  color: rgb(204, 58, 5);
}
/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
  margin-top: 3rem;
}


h1.heading {
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
  text-align: center;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
}
/*--------------------------------------------------------------
# map
--------------------------------------------------------------*/

.card-item{
  border-radius: 2rem;
}
.img-360 img {
  justify-content: center;
  /* border: none; */
  border-radius: 1.2rem;

  transition: transform 0.3s ease;
}
.img-360 img:hover {
  transform: scale(1.2);

}
/*--------------------------------------------------------------
# card
--------------------------------------------------------------*/
#card {
  border:none
}
.card .item {
  background: #ffffff;
  border: 1px solid #dd2476;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2rem;
}

.card .item .btn {
  background: linear-gradient(to right, #f7ad88, #f87197);

  text-decoration: none;
  transition: all 0.4s ease;
}

.card .item .btn:hover {
  background:#f87197;
  color:white;
  border: 2px solid #ffffff;
  box-shadow: #222 1px 0 5px;
}
.card .item .btn i{
  color:#ee4540

}
.card .item  h5{
  font-weight: 600;
}

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
.footer-menu a {
  text-decoration: none;
  color: rgb(225, 222, 222);
  font-size: 1.5rem;
  margin-right: 10px;
}
.footer-menu a:hover {
  color: rgb(255, 6, 89);
}
.btn-link i:hover {
  color: rgb(255, 6, 89);
}

.hide{
  display: none;
}
